.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem; /* 24px */
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.label {
  font-weight: 600;
  font-size: 1.1rem;
}

.iconWrapper {
  font-size: 2.5rem; /* Ukuran ikon */
}

/* Modifier classes untuk warna */
.light {
  background-color: var(--color-light-gray);
  color: var(--color-black);
}

.yellow {
  background-color: var(--color-yellow);
  color: var(--color-black);
}

.dark {
  background-color: var(--color-dark-gray);
  color: var(--color-white);
}