.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  height: 40px;
}

.searchWrapper {
  flex-grow: 1;
  max-width: 400px;
  margin: 0 2rem;
}

.searchInput {
  width: 100%;
  padding: 10px 20px;
  border-radius: 999px;
  border: 1px solid #e5e7eb;
  font-size: 1rem;
}

.nav a {
  margin-left: 2rem;
  text-decoration: none;
  color: var(--color-text-primary);
  font-weight: 600;
}